In [2]:
import pandas as pd

In [3]:
f=pd.read_csv('/home/sky/Documents/case_study/training.csv', index_col=23)

In [4]:
f.head()

,custAge,profession,marital,schooling,default,housing,loan,contact,month,day_of_week,...,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,pmonths,pastEmail,responded,profit
id,,,,,,,,,,,,,,,,,,,,,
1,34.0,admin.,single,university.degree,no,no,yes,cellular,apr,wed,...,nonexistent,-1.8,93.075,-47.1,1.498,5099.1,999.0,0,no,NaN
2,31.0,services,single,high.school,no,no,no,cellular,jul,thu,...,nonexistent,1.4,93.918,-42.7,4.968,5228.1,999.0,0,no,NaN
3,NaN,admin.,single,high.school,no,no,no,telephone,jun,NaN,...,nonexistent,1.4,94.465,-41.8,4.961,5228.1,999.0,0,no,NaN
4,52.0,admin.,divorced,university.degree,unknown,yes,no,cellular,jul,tue,...,nonexistent,1.4,93.918,-42.7,4.962,5228.1,999.0,0,no,NaN
5,39.0,blue-collar,single,NaN,unknown,yes,no,cellular,jul,tue,...,nonexistent,1.4,93.918,-42.7,4.961,5228.1,999.0,0,no,NaN

In [5]:
f.dtypes

custAge           float64
profession         object
marital            object
schooling          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
pmonths           float64
pastEmail           int64
responded          object
profit            float64
dtype: object

In [6]:
import seaborn as sns
%matplotlib inline
import ggplot

In [11]:
f['profession']=f['profession'].astype('category')

In [12]:
f.dtypes

custAge            float64
profession        category
marital             object
schooling           object
default             object
housing             object
loan                object
contact             object
month               object
day_of_week         object
campaign             int64
pdays                int64
previous             int64
poutcome            object
emp.var.rate       float64
cons.price.idx     float64
cons.conf.idx      float64
euribor3m          float64
nr.employed        float64
pmonths            float64
pastEmail            int64
responded           object
profit             float64
dtype: object

In [16]:
object_cols=f.select_dtypes(['category']).columns